<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LocTrack
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>LocTrack</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div>
      <h5>Your most recent location is:</h5>
      <p>
        Time Stamp: {{ timestamp | date: 'yyyy-MM-dd hh:mm:ss' }}
        <br>
        Latitude: {{ lat }}
        <br>
        Longitude: {{ lon }}
      </p>
      <ion-button (click)="getLoc()">Get Current Location</ion-button>
    </div>

    <ion-list>
      <ion-item *ngFor="let item of locationList; let ind = index">
        <ion-label>
          Location Captured at:<br>
          {{ item.timestamp | date: "yyyy-MM-dd hh:mm:ss"}}
          <br>
          Latitude:<br>
          {{ item.latitude }}
          <br>
          Longitude:<br>
          {{ item.longitude }}
          <br>
        </ion-label>
        <div class="item-note" slot="end">
          <ion-button color="danger" (click)="removeLoc(ind)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
